---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


$background-color: #36454f; // charcoal		   
$link-color: #718c9e;
$text-color: #b7c4cd;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

h2 {color:#e5eaed;}
h3 {color:#9fb1b2;}
