---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


$background-color: #384751; // charcoal		   
// $background-color: #36454f; // charcoal		   
$link-color: #9090dd;
$text-color: #e5eaed;
// $text-color: #b7c4cd;

//$link-color: #718c9e;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

h1 {text-align:center;
    font-size:1.25em;
    color:#ccc4cd;}
h2 {color:#ccc4cd;
    font-size:1.15em;}
h3 {color:#9fb1b2;
    font-size:1.1em;}

a.ref {text-decoration: none;
       color:#a67c81;
      }

em {
    color:darkgray;
    font-weight:bold;
}

pre {
    background-color: gray;
    color:white;
    font-size:15px;
}

table, th, td {
  border: 1px solid;
}
